.home .bx-wrapper {
	margin: 30px auto 40px;
}

.home #primary ul {
	margin: 0 0 40px 16px;
}

.home #primary li {
	list-style: disc;
	margin-bottom: 10px;
	color: #555;
	font-size: 1em;
}

.pictogram {
/*	margin: 60px 0 90px 20px;*/
	padding: 20px 0;
	text-align: center;
}

.pictogram div {
	display: inline-block;
	position: relative;
}

.pictogram .icon-icomoon-desktop {
	font-size: 8em;
}

.pictogram .icon-icomoon-tablet {
	font-size: 6em;
	top: -15px;
}

.pictogram .icon-icomoon-phone {
	font-size: 4em;
	top: -30px;
}

.pictogram .icon-fontello-thumbs-up {
	font-size: 7em;
	top: -30px;
}

.pictogram .operator {
	color: #c5c5c5;
	margin: 0 20px;
	top: -45px;
	font-size: 3.5em;
	font-weight: bold;
}

.step {
	margin-bottom: 45px;
}

.home p.pop {
	color: #de3329;
	text-align: center;
	font-size: 1.5em;
	font-weight: bold;
	margin: 6px 0 80px;
	font-family: 'vaniregular';
}

/** EXAMPLES
================================================**/

.example-item h1 {
	font-size: 2.5em;
	margin-bottom: 30px;
}

.code-switch {
	margin-top: 20px;
	height: 25px;
}

.code-switch a {
	display: block;
	width: 70px;
	color: #fff;
	text-align: center;
	float: left;
	background: #989898;
	padding: 5px 0;
	font-family: 'vaniregular';
	font-size: .875em;
}

.code-switch a.active {
	background: #5280dd;
}

.code-switch .js {
	-moz-border-radius: 5px 0 0 5px;
	-webkit-border-radius: 5px 0 0 5px;
	border-radius: 5px 0 0 5px;
}

.code-switch .html {
	-moz-border-radius: 0 5px 5px 0;
	-webkit-border-radius: 0 5px 5px 0;
	border-radius: 0 5px 5px 0;
}

.code-wrap .code {
	display: none;
}

.code-wrap .code.active {
	display: block;
}

.example-item .examples-list {
	margin-top: 60px;
}

.examples-list ol {
	margin-left: 30px;
}

.examples-list ol li {
	list-style: decimal;
	color: #666;
	margin-bottom: 8px;
}

.example-item ol li {
	font-size: .875em;
}

.example-item .slider a {
	line-height: 1.5em;
}

.example-item #bx-pager {
	text-align: center;
	margin-top: -30px;border-top:1px #8e8e8e solid;
}

.example-item #bx-pager a {
	margin: 0 3px;
}

.example-item #bx-pager a img {
	padding: 0 0 15px 0;
	
}

.example-item #bx-pager a:hover img,
.example-item #bx-pager a.active img {
	background:url(../image/pink_line2.jpg) no-repeat 18px bottom;
}

/** CAROUSEL DEMYSTIFIED
================================================**/

.carousel-demystified aside { display: none; }
.carousel-demystified #primary { margin: 0;}

.carousel-demystified h2 {
	font-size: 1.75em;
	margin-bottom: 30px;
}

.carousel-demystified ol li {
	list-style: decimal;
	margin: 0 0 5px 50px;
	line-height: 1.35em;
	color: #555;
}

/** OPTIONS
================================================**/

.options h1 {
	margin-bottom: 10px;
}

.options h2 {
	font-size: 1.5em;
	margin-bottom: 15px;
}

.option-name {
	font-weight: bold;
	font-size: .875em;
	margin-bottom: 2px;
}

.option-desc {
	font-size: .8em;
	line-height: 1.25em;
	color: #666;
}

.options pre {
	margin: 10px 0 25px;
}

.category-wrap {
	margin-bottom: 40px;
}

.reference-wrap {
	position: absolute;
	top: 0;
	right: 0;
	background: #e4e4e4;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;

}

.reference-wrap h3 {
	font-size: 1.125em;
	margin: 0;
	background: #e4e4e4;
	padding: 10px 15px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	cursor: pointer;
	text-align: right;
}

.reference-wrap h3 span {
	color: #939393;
	position: relative;
	top: 2px;
	margin-left: 5px;
}

.reference-content {
	padding: 20px;
	display: none;
}

.reference-content h4 {
	margin-bottom: 5px;
}

.reference-content a {
	display: block;
	font-size: .8em;
	padding: 3px 0;
}

.reference-content .col {
	margin-bottom: 20px;
}

.reference-content .col-wrap {
/*	width: 125px;
	float: left;
	margin-right: 20px;
*/}

.reference-content .col-wrap.last {
	margin-right: 0;
}

.reference-content-inner {
	/*width: 430px;*/
	height: 300px;
	overflow: auto;
}

/** FAQS
================================================**/

.faqs h3 {
	font-size: 1.15em;
	line-height: 1.25em;
	margin-bottom: 3px;
}

.faqs .questions p {
	margin-bottom: 10px;
}

.faqs .question {
	margin-bottom: 30px;
}

.faqs ul,
.about ul {
	margin: 0 0 20px 20px;
}

.faqs ul li,
.about ul li {
	color: #555;
	font-size: .875em;
	list-style: disc;
	margin-bottom: 7px;
	line-height: 1.25em;
}

/** ABOUT
================================================**/

.about h3 {
	margin-top: 50px;
}


/** SIDEBAR
================================================**/

aside .block {
	padding: 30px 0;
	border-bottom: solid #c2c2c2 1px;
}

aside .block-advert {
	padding-top: 0;
}

aside .block-advert .bsa_it_ad {
	margin-bottom: 5px;
}

aside .block-advert .one .bsa_it_ad .bsa_it_i {
	margin-right: 25px;
}

aside .block-advert .yoggrt-link {
	font-size: .875em;
}

aside .block-buttons {
	padding-bottom: 35px;
}

aside .block-buttons form {
	display: none;
}

aside .btn {
	display: block;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	-moz-box-shadow: 0 5px 0 #9f9f9f;
	-webkit-box-shadow: 0 5px 0 #9f9f9f;
	box-shadow: 0 5px 0 #9f9f9f;
	background: #d8d8d8;
	color: #414141;
	padding: 5px 14px 3px;
	font-weight: bold;
	font-size: 1.5em;
	font-family: "KievitWeb", "Arial";
	position: relative;
}

aside .btn span {
	font-weight: normal;
	position: relative;
	top: 2px;
	padding-right: 4px;
}

aside .btn-donate {
	margin-bottom: 20px;
}

aside .btn-donate span {
	font-size: 1.1em;
	padding-right: 6px;
}

aside .btn:hover {
	color: #5280dd;
	text-decoration: none;
}

aside .btn:hover span {
	color: #414141;
}

aside .btn:active {
	top: 5px;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

aside h4 {
	font-size: 1.375em;
	line-height: 1.25em;
	margin-bottom: 8px;
}

aside .block-about {
	border-bottom: 0;
	margin-bottom: 0;
}

aside .block p {
	font-size: 1em;
	line-height: 1.25em;
}

aside input[type="text"] {
	border: solid #c2c2c2 1px;
	padding: 3px 5px;
	display: block;
	width: 93%;
	margin-bottom: 10px;
}

aside label {
	font-size: .875em;
	margin-bottom: 3px;
	display: block;
}

aside input[type="submit"] {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background: #5280dd;
	color: #fff;
	padding: 4px 10px;
	border: none;
	font-size: .875em;
	cursor: pointer;
	-webkit-appearance: none;
}

aside input[type="submit"]:hover {
	background: #72cb76;
}

aside .block-signup .error {
	display: none;
	color: red;
	font-size: .875em;
	margin-bottom: 10px;
}

/** HEADER
================================================**/


.icon-icomoon-bx-star {
	color: #de3329;
	position: relative;
	top: 4px;
}


/** RESPONSIVE BREAKPOINTS
================================================**/

@media(max-width: 1040px){

	.inner {
		width: 100%;
	}

	.reference-wrap {
		right: 20px;
	}

	aside {
		padding-right: 20px;
	}

	#primary {
		padding: 0 20px;
	}

	.home h1 {
		width: 90%;
		font-size: 3em;
		margin: 0 auto;
	}

	.home .bx-wrapper {
		width: 90%;
	}

	.pictogram .operator {
		margin: 0 18px;
	}

	header .logo {
		padding-left: 20px;
	}

	header .download {
		right: 20px;
	}

	header nav {
		right: 170px;
	}

	footer .left {
		width: auto;
		float: none;
		padding-left: 20px;
	}

	footer .first {
		margin-bottom: 30px;
	}

	footer p.pix {
		padding-left: 20px;
	}

}

@media(max-width: 700px){

	#primary {
		margin: 0 0 750px 0;
	}

	aside {
		float: none;
		position: absolute;
		bottom: 0;
		width: 70%;
		padding: 0 20px;
	}

	header .logo {
		margin: 0 auto;
		float: none;
		text-align: center;
		padding: 10px 0;
	}

	header nav {
		position: static;
		text-align: center;
	}

	header .download {
		position: static;
		text-align: center;
		margin: 25px 0;
	}

	.home h1 {
		font-size: 2.25em;
	}

	#main {
		padding-top: 20px;
	}

}

@media(max-width: 500px){

	.example-item h1 {
		font-size: 2em;
		line-height: 1.25em;
	}

	aside {
		font-size: 90%;
	}

	.home p.pop {
		font-size: 1.25em;
		margin-bottom: 30px;
	}

	.reference-wrap {
		display: none;
	}

	footer {
		font-size: 85%;
	}

}

@media(max-width: 400px){

	h1 {
		font-size: 2.5em;
	}

	.example-item h1 {
		font-size: 1.5em;
		line-height: 1.25em;
	}

	.pictogram {
		font-size: 45%;
	}

	.home h1 {
		font-size: 1.75em;
	}

	nav a {
		padding: 0 5px;
	}

	#primary {
		font-size: 100%;
		margin-bottom: 850px;
	}

}

/*body .one .bsa_it_ad { background: transparent; border: none; font-family: inherit; padding: 0 15px 0 10px; margin: 0; text-align: right; }*/
body .one .bsa_it_ad:hover img { -moz-box-shadow: 0 0 3px #000; -webkit-box-shadow: 0 0 3px #000; box-shadow: 0 0 3px #000; }
body .one .bsa_it_ad .bsa_it_i { display: block; padding: 0; float: none; margin: 0 0 5px; }
body .one .bsa_it_ad .bsa_it_i img { padding: 0; border: none; }
body .one .bsa_it_ad .bsa_it_t { padding: 6px 0; }
body .one .bsa_it_ad .bsa_it_d { padding: 0; font-size: 12px; color: #333; }
body .one .bsa_it_p { display: none; }
body #bsap_aplink, body #bsap_aplink:hover { display: block; font-size: 10px; margin: 12px 15px 0; text-align: right; }



/*slider two section*/
.example-item2 .examples-list {
	margin-top: 60px;
}

.examples-list ol {
	margin-left: 30px;
}

.examples-list ol li {
	list-style: decimal;
	color: #666;
	margin-bottom: 8px;
}

.example-item2 ol li {
	font-size: .875em;
}

.example-item2 .slider a {
	line-height: 1.5em;
}

.example-item2 #bx-pager {
	text-align: center;
	margin-top: -30px;border-top: solid 1px #d8d8d8; 
}

.example-item2 #bx-pager a {
	margin: 0 28px;
}

.example-item2 #bx-pager a img {
	padding: 20px 0 15px 0;
	
}

.example-item2 #bx-pager a:hover img,
.example-item2 #bx-pager a.active img {
	background:url(../image/pink_line2.jpg) no-repeat 0 bottom;
}
/*slider two section*/




/*slider 4 thumb css section*/
.example-item3 .examples-list {
	margin-top: 60px;
}

.examples-list ol {
	margin-left: 30px;
}

.examples-list ol li {
	list-style: decimal;
	color: #666;
	margin-bottom: 8px;
}

.example-item3 ol li {
	font-size: .875em;
}

.example-item3 .slider a {
	line-height: 1.5em;
}

.example-item3 #bx-pager {
	text-align: center;
	margin-top: -30px;border-top: solid 1px #d8d8d8; 
}

.example-item3 #bx-pager a {
	margin: 0 10px;
}

.example-item3 #bx-pager a img {
	padding: 20px 0 15px 0;
	
}

.example-item3 #bx-pager a:hover img,
.example-item3 #bx-pager a.active img {
	background:url(../image/pink_line2.jpg) no-repeat 0 bottom;
}
/*slider 4 thumb css section*/

